.marker-data-field {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background 150ms ease-in;
    display: flex;
    align-items: center;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        height: 1px;
        width: calc(100% - 20px);
        background: $grey;
    }

    &:hover {
        background: $light-grey;
    }

    &:focus-within {
        background: $light-grey;
    }

    &.sortable-ghost {
        background: $light-grey;
    }

    .sort-handle {
        padding-right: 10px;
        cursor: move;
    }

    .field-content {
        flex: 1;
    }

    .delete-data {
        position: absolute;
        top: 5px;
        right: 10px;
        color: $red;
    }
}

.marker-data-add-field {
    position: relative;
    padding: 5px 10px 10px !important;
    text-align: right;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        height: 1px;
        width: calc(100% - 20px);
        background: $grey;
    }

    .add-data {
        font-size: 12px;
        font-weight: $semi;
    }
}

.generated-marker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 0 !important;

    &:hover {
        background: $light-grey;
    }

    &.is-selected {
        background: $light-grey;
    }

    .checkbox {
        padding-right: 10px;
    }

    .value {
        flex: 1;
    }

    .marker-location {
        font-size: 12px;
        font-weight: $normal;
    }

    .trigger a {
        padding: 10px 10px 10px 10px;
        border-left: 1px solid $border;
    }

    .data {
        flex-basis: 100%;
        margin-left: 20px;
        border-left: 2px solid $border;
    }

    .marker-data {
        display: flex;

        b {
            flex-basis: 25%;
            max-width: 25%;
        }

        span {
            flex: 1;
            padding-left: 15px;
        }
    }

}
