.about-content {
    padding: 20px;
}

.about-inner-content {
    max-width: 768px;
    padding-bottom: 100px;
}

.sample {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 35px;
    margin: 10px -5px 35px;

    > * {
        flex-basis: 50%;
        max-width: 50%;
        padding: 5px;
    }
}
